tensorflow==2.6.0
keras==2.6.0
fastapi
uvicorn
gunicorn
python-multipart
pillow
tensorflow-serving-api==2.5.0
matplotlib
httptools==0.1.*
uvloop>=0.14.0
numpy
pyparsing==2.4.2
opencv-python
./Tensorflow/models/research/